---
##
# agent configuration
##
#name: ""
#namespace: "default"
#subscriptions: ""
backend-url:
  - "ws://{{ hostvars[groups['sensu_backend'][0]]['ansible_eth0']['ipv4']['address'] }}:8081"
  - "ws://{{ hostvars[groups['sensu_backend'][1]]['ansible_eth0']['ipv4']['address'] }}:8081"
  - "ws://{{ hostvars[groups['sensu_backend'][2]]['ansible_eth0']['ipv4']['address'] }}:8081"
##
# authentication configuration
##
#user: "agent"
#password: "P@ssw0rd!"

##
# api configuration
##
#api-host: "127.0.0.1"
#api-port: 3031
#disable-api: false

##
# socket configuration
##
#disable-sockets: false
#socket-host: "127.0.0.1"
#socket-port: 3030


##
# statsd configuration
##
#statsd-disable: false
#statsd-event-handlers: ""
#statsd-flush-interval: 10
#statsd-metrics-host: "127.0.0.1"
#statsd-metrics-port: 8125

##
# other
##
cache-dir: "/var/cache/sensu/sensu-agent"
config-file: "/etc/sensu/agent.yml"
#deregister: false
#deregistration-handler: ""
#keepalive-timeout: 120
#keepalive-interval: 20
#extended-attributes: ""
#log-level: "warn"
#redact: ""

